.copyright {
  background-color: #BA4B2F;
}
.nav{
  background-color: #BA4B2F;
}
.fixed {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

.content-grey {
  background-color: #f8f9fc;
}

hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.profile-font {
  color: #858796 !important;
  font-size: 80%;
  font-weight: 400;
}

.card-header {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.bg-secondary {
  background-color: white !important;
}
.R {
  border-radius: 20px; /* Coins arrondis de la containerR */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour l'effet de survol */
}

/* Effet de survol pour la containerR */
.R:hover {
  background-color: #eec2b7; /* Couleur de fond au survol */
  transform: scale(1.05); 
}
.btn{
  background-color: #BA4B2F;
}
.btn:hover {
  background-color: #eec2b7; /* Couleur de fond au survol */
  transform: scale(1.05); 
  
}
nav{
  font-weight: 700;
}